<body>
<div class='margine'>
<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"212,5x70,625", class: "logo")%> 
   <%= image_tag("sapienza.png", size:"170x70,625", class: "logo")%> 
</header>


<h1>Contacts</h1>
<p>You can send an email to the developers:</p>
 <ul>   
    <li>Antonella Fiorito: fiorito.1892760@studenti.uniroma1.it
    <li>Marco Ruvolo: ruvolo.1883257@studenti.uniroma1.it
    <li>Sara Attiani: attiani.1893420@studenti.uniroma1.it
    <li>Tiziano Finizzi: finizzi.1915610@studenti.uniroma1.it
</ul>
   
<a href="/">Back to home...</a>

</div>
</body>