<h1>Authormetrics</h1>

<p>Home page in costruzione...</p>

<button onclick= "searchByAuth()" id= "ByAuth" > Search by auth </button>

<button onclick= "searchByPub()" id= "ByPub"> Search by pub </button>

<button onclick="location.href='http://127.0.0.1:3000/users/new'" id= "LogReg"> Login/Register </button> <!--uncorrect redirect, just to try-->

<p id="p1"> </p>

<div class= "search-box">
<input type="text" class= "search" placeholder= "Search by auth...">
<button> <i class="fa-solid fa-magnifying-glass"></i> </button>
</div>

<p id="p2"> </p>

<div class= "search-box">
<input type="text" class= "search" placeholder= "Search by pub...">
<button> <i class="fa-solid fa-magnifying-glass"></i> </button>
</div>


<!-- to do: <script src="path-to-javascript-file"></script> -->

<script>
    function searchByAuth(){ 
        document.getElementById("ByAuth").style.backgroundColor = "#AEEEEE";
        document.getElementById("ByPub").style.backgroundColor = "";
        //var search_bar= document.createElement("search-box"); 
        //search_bar.innerHTML = "<button> </button>"; 
        //document.getElementById("Boh").appendChild(search_bar);
    }

    function searchByPub(){    
        document.getElementById("ByPub").style.backgroundColor = "#AEEEEE";
        document.getElementById("ByAuth").style.backgroundColor = "";
    }

</script>

