<h1>AUTHORMETRICS</h1>
<link rel="stylesheet" href="authormetrics/app/assets/stylesheets/home.css">

<p>Home page in costruzione...</p>

<button onclick= "searchByAuth()" id= "ByAuth" > SEARCH BY AUTH </button>

<button onclick= "searchByPub()" id= "ByPub"> SEARCH BY PUB</button>

<button onclick="location.href='http://127.0.0.1:3000/users/new'" id= "LogReg"> LOGIN/REGISTER</button> <!--uncorrect redirect, just to try-->

<p id="p1"> </p>

<div class="footer">
    <a href="#">CONTACT US</a>
    <a href="#">INFO</a>
    <a href="#">USE TERMS AND CONDITIONS</a>
    <a href="#">PRIVACY</a>
    <a href="#">COOKIES</a>
</div>

<%= javascript_include_tag "home" %>



