<body>
<div class="margine">

<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"212,5x70,625", class: "logo")%> 
   <%= image_tag("sapienza.png", size:"170x70,625", class: "logo")%> 
</header>

<h1>Authormetrics project</h1>
<p>
    Authormetrics is a project developed for the course "Laboratorio di Applicazioni Software e Sicurezza Informatica 2021/2022" of the Sapienza University of Computer Engineering, in Rome.
    <br></br>
    This project is meant to be an application for researching publications and authors of publications. It gives you the ability to get the most relevant information about authors and publications.
    You can create your personal account in order to add some authors/publications to your favorites, comment, review, and view even more charts!
    <br></br>
    Here you have the developers:
</p>
    <ul>   
        <li>Antonella Fiorito: computer engineering student at the Sapienza University of Rome
        <li>Marco Ruvolo: computer engineering student at the Sapienza University of Rome
        <li>Sara Attiani: computer engineering student at the Sapienza University of Rome
        <li>Tiziano Finizzi: computer engineering student at the Sapienza University of Rome
    </ul>
<p>
    We hope you enjoy the project and have a good user experience!
    If you would like to compliment us, give us advice or report a problem please feel free to contact us.
    You can find our contacts here:<a href="/contacts">Contacts</a>
</p>
<a href="/">Back to home...</a>

</div>
</body>