<p style="color: green"><%= notice %></p>

<h1>Articolos</h1>

<div id="articolos">
  <% @articolos.each do |articolo| %>
    <%= render articolo %>
    <p>
      <%= link_to "Show this articolo", articolo %>
    </p>
  <% end %>
</div>

<%= link_to "New articolo", new_articolo_path %>
