.logo{
  padding-top: 1%;
}

.upper_block{
  width: 100%;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0.5%;
    width: 100%;
    font-family: Verdana, sans-serif;
    text-align: center;
    display: block;
    padding: 20px 35px;
    border-style: solid;
    border-color: #102027;
    background-color: #ecfbf0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.left_block{
  position: fixed;
  left: 0%;
  width: 45%;
  height: 100%;
  padding-top: 2%;
  font-family: Verdana, sans-serif;
  font-weight: lighter;
}


.right_block{
  position: fixed;
  left:45%;
  width: 70%;
  height: 100%;
  margin-top: 0%;
  font-family: Verdana, sans-serif;
  font-weight: lighter;
}

.upper_right_block{
  display:inline-block;
  margin-top: 0%;
  width: 100%;
  height: 10%;
}

.bottom_right_block{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 7%;
}

.bottom_right_block_left{
  width: 28%; 
  height: 57%;
  position: absolute; 
}

.bottom_right_block_right{
  width: 55%;  
  height: 60%;
  margin-left: 28%; 
  margin-top: 5%;
  position: absolute; 
}

.graph{
  margin-left: 3%;
  width: 80%;
  position: absolute;
}

.chart_choise{
  width: 90%;
  height: 80%;
  margin-top: 10%;
  border-style: solid;
  border-color: #37474f;
  border-radius: 10%;
  align-content: center;
}

.table_half_box{
  left:0%;
  width: 90%;
  padding-bottom: 3%;
  padding-left: 3%;
}

.search_button{
  background-color: white;
  border-width: 0px;
  box-shadow: 0px 0px;
}

.search_text_input{
  border: solid;
  border-color: #37474f;
  border-width: 2.5px;
}

.upper_block_auth_pub{
  width: 100%;
  height: 10%;
}


.scrollable_box{
  left:0%;
  width: 90%;
  padding-bottom: 5%;
  padding-left: 3%;
}

.scrollable{
  display: list-item;
  width:100%;
  height: 330px;      
  overflow-y: auto; 
  overflow-x: hidden;  
}

.upper_block_cp{
  display:inline-block;
  position: absolute;
  right: 1%;
  top: 10.1%;
  width:38%;
  height: 10%;
}

.medium_block_cp{
  display:inline-block;
  margin-top: 2%;
  margin-left: 0.5%;
  width: 100%;
  height:310px;
}

.upper_box_1{
  border-style:dotted;
  display:inline-block;
  width:24.4%;
  height: 100%;
}

.bottom_block_cp{
  margin-top: 2%;
  margin-left: 0.5%;
  width: 100%;
  font-family: Verdana,sans-serif;
}

.control_graph{
  margin:2%;
  margin-bottom: 4%;
}

.half_table_cp_1{
  display:inline-block;
  width:47%;
}

.half_table_cp_2{
  display:inline-block;
  width:47%;
  margin-left: 2%;
}

.delete_button{
  border-style: none;
  box-shadow:none;
  background-color:transparent;
}


.fav_box{
  margin-top: 3%;
  display:inline-block;
  height:130px;
}




