<h1>Editing recensione autore</h1>

<%= render "form", recensione_autore: @recensione_autore %>

<br>

<div>
  <%= link_to "Show this recensione autore", @recensione_autore %> |
  <%= link_to "Back to recensione autores", recensione_autores_path %>
</div>
