<body>
<div class='margine'>
<div class='contenitore' style='width:355px; padding-top:0;'>
<h2>EDITING COMMENT</h2>

<%= render "form", comment: @comment %>
</div>

<br>

<div>
  <%= button_to "BACK TO COMMENTS", publication_comments_path(@publication), method: :get %>
</div>

</div>
</body>
