<div id="<%= dom_id favorite_publication %>">
  <p>
    <strong>Publication:</strong>
    <%= favorite_publication.publication_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= favorite_publication.user_id %>
  </p>

</div>
