<h1>Editing favorite publication</h1>

<%= render "form", favorite_publication: @favorite_publication %>

<br>

<div>
  <%= link_to "Show this favorite publication", @favorite_publication %> |
  <%= link_to "Back to favorite publications", favorite_publications_path %>
</div>
