<h1>New favorite publication</h1>

<%= render "form", favorite_publication: @favorite_publication %>

<br>

<div>
  <%= link_to "Back to favorite publications", user_favorite_publications_path %>
</div>
