<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%>
<h1>NEW FAVORITE PUBLICATION</h1>

<%= render "form", favorite_publication: @favorite_publication %>

<br>

<div>
  <%= button_to "BACK TO FAVORITE PUBLICATIONS", user_favorite_publications_path, :method=>:get %>
</div>
</div>
