<h1>Editing articolo preferito</h1>

<%= render "form", articolo_preferito: @articolo_preferito %>

<br>

<div>
  <%= link_to "Show this articolo preferito", @articolo_preferito %> |
  <%= link_to "Back to articoli preferiti", articoli_preferiti_path %>
</div>
