<h1>Editing rating autore</h1>

<%= render "form", rating_autore: @rating_autore %>

<br>

<div>
  <%= link_to "Show this rating autore", @rating_autore %> |
  <%= link_to "Back to rating autores", rating_autores_path %>
</div>
