<p style="color: green"><%= notice %></p>

<h1>Rating autores</h1>

<div id="rating_autores">
  <% @rating_autores.each do |rating_autore| %>
    <%= render rating_autore %>
    <p>
      <%= link_to "Show this rating autore", rating_autore %>
    </p>
  <% end %>
</div>

<%= link_to "New rating autore", new_rating_autore_path %>
