<div class="footer">
    <a href="/contacts">CONTACT US</a>
    <a href="/info">INFO</a>
    <a href="/use_and_conditions">USE TERMS AND CONDITIONS</a>
    <a href="/privacy">PRIVACY</a>
    <a href="/cookies">COOKIES</a>
</div>