<div id="<%= dom_id review %>">
  <p>
    <% r=User.find(review.user_id)%>
    <strong>User:</strong>
    <%= r.username %>
    <br>
    <strong>Review:</strong>
    <%= review.review %>
  </p>
</div>
