<body>
<div class='margine'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<br></br>
<div class='contenitore' style='width:355px; padding-top:0;'>
<h2>NEW REVIEW</h2>
<%= render "form", review: @review %>
</div>
<br>
<%= button_to "BACK TO REVIEWS", author_reviews_path(@author), method: :get %>

</div>
</body>
