<div id="<%= dom_id author %>">

<div>
  <p>
    <h1>
    <%= author.name %>
    </h1>
  </p>

  <p>
    <strong>Affiliations:</strong>
    <%= author.affiliations %>
  </p>
  <p>
    
    <% if author.interests != [] && author.interests!= nil %>
    <div>
      <p>
    <strong>INTERESTS:</strong>
     
      <% JSON.parse(author.interests).each do |k|%>
        <% k.each do |kk,vv|%>
          
          <%= "\t"+vv+"," %>
        
        <%break%>
        
        <%end%>
      <%end%>
      </p>
      </div>
    <%end%> 
</div>
