<div id="<%= dom_id author %>">

<h2><li><%= link_to author.name, author %></h2>
  
<p>
  <strong style='margin-left: 50px;'>Affiliations:</strong> <%= author.affiliations %>
</p>

<% if author.interests != [] && author.interests!= nil %>
  <p>
    <strong style='margin-left: 50px;'>Interests:</strong>
     <% JSON.parse(author.interests).each do |k|%>
        <% k.each do |kk,vv|%>
          <%= "\t"+vv+"," %>
          <%break%>
        <%end%>
      <%end%>
  </p>
<%end%> 

</div>

