<body>
<p style="color: green"><%= notice %></p>

<div class=margine > 
  
  <h1>Publications</h1>

  <div style='position: absolute; top: 7%; left: 80%;'>
    <button onclick="searchByPub()" id= "ByPub">SEARCH BY PUB</button>
    <button onclick="location.href='https://127.0.0.1:3000/'">BACK TO HOME</button>
  </div>
  
  <ul>
  <div id="publications">
    <% @publications.each do |publication| %>
      <p>
        <li><%= link_to publication.title, publication %>
      </p>
    <% end %>
  </div>
  <ul>

</div>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>
</body>



