<p style="color: green"><%= notice %></p>

<h1>Publications</h1>
<button onclick="location.href='http://127.0.0.1:3000/'" > back to home page</button> 
<div id="publications">
  <% @publications.each do |publication| %>
    <p>
    <strong>Title:</strong>
    <%= publication.title %>
    </p>
    <p>
      <%= link_to "Show this publication", publication %>
    </p>
  <% end %>
</div>


