<p style="color: green"><%= notice %></p>


<div class="block">
  <div class="table_half_box">
    <h1>Publications</h1>
    <button onclick= "searchByPub2()" id= "ByPub2"> SEARCH BY PUB</button>
    <button onclick="location.href='http://127.0.0.1:3000/'" > BACK TO HOME</button>
     <p id="p2"> </p>
  </div>

  <div class="table_half_box">
    <div id="publications">
      <% @publications.each do |publication| %>
        <p>
          <%= link_to publication.title, publication %>
        </p>
      <% end %>
    </div>
  </div>

</div>

