<p style="color: green"><%= notice %></p>

<h1>Publications</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <p>
    <strong>Title:</strong>
    <%= publication.title %>
    </p>
    <p>
      <%= link_to "Show this publication", publication %>
    </p>
  <% end %>
</div>


