<p style="color: green"><%= notice %></p>

<h1>Autore preferitos</h1>

<div id="autore_preferitos">
  <% @autore_preferitos.each do |autore_preferito| %>
    <%= render autore_preferito %>
    <p>
      <%= link_to "Show this autore preferito", autore_preferito %>
    </p>
  <% end %>
</div>

<%= link_to "New autore preferito", new_autore_preferito_path %>
