<div id="<%= dom_id administrator %>">
  <p>
    <strong>Admin:</strong>
    <%= administrator.admin_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= administrator.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= administrator.password %>
  </p>

</div>
