<h1>Editing amministratore</h1>

<%= render "form", amministratore: @amministratore %>

<br>

<div>
  <%= link_to "Show this amministratore", @amministratore %> |
  <%= link_to "Back to amministratori", amministratori_path %>
</div>
