<div id="<%= dom_id author_rating %>">
  <p>
    <strong>Rating:</strong>
    <%= author_rating.rating %>
  <br>
    <% a=User.find(author_rating.user_id)%>
    <strong>User:</strong>
    <%= link_to a.username, user_path(a) %>
    
  </p>
</div>
