<h1>Editing author rating</h1>

<%= render "form", author_rating: @author_rating %>

<br>

<div>
  <%= link_to "Show this author rating", @author_rating %> |
  <%= link_to "Back to author ratings", author_author__ratings_path %>
</div>
