<p style="color: green"><%= notice %></p>

<%= render @author_rating %>

<div>
  <%= link_to "Edit this author rating", edit_author_author_rating_url %> |
  <%= link_to "Back to author ratings", author_author_ratings_path %>

<!--ce dovrebbe sta na delete -->
</div>
