<div id="<%= dom_id favorite_author %>">
  <p>
    <strong>Author:</strong>
    <%= favorite_author.author_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= favorite_author.user_id %>
  </p>

</div>
