<h1>Editing favorite author</h1>

<%= render "form", favorite_author: @favorite_author %>

<br>

<div>
  <%= link_to "Show this favorite author", @favorite_author %> |
  <%= link_to "Back to favorite authors", favorite_authors_path %>
</div>
