<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%>
<h1>NEW FAVORITE AUTHOR</h1>

<%= render "form", favorite_author: @favorite_author %>

<br>

<div>
  <%= button_to "BACK TO FAVORITE AUTHORS", user_favorite_authors_path, :method=>:get%>
</div>
</div>
