<h1>Editing rating articolo</h1>

<%= render "form", rating_articolo: @rating_articolo %>

<br>

<div>
  <%= link_to "Show this rating articolo", @rating_articolo %> |
  <%= link_to "Back to rating articolos", rating_articolos_path %>
</div>
