<p style="color: green"><%= notice %></p>

<h1>Rating articolos</h1>

<div id="rating_articolos">
  <% @rating_articolos.each do |rating_articolo| %>
    <%= render rating_articolo %>
    <p>
      <%= link_to "Show this rating articolo", rating_articolo %>
    </p>
  <% end %>
</div>

<%= link_to "New rating articolo", new_rating_articolo_path %>
