<div id="<%= dom_id banned_user %>">
  <p>
    <strong>User:</strong>
    <%= banned_user.user_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= banned_user.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= banned_user.end_date %>
  </p>

</div>
