<h1>Editing banned user</h1>

<%= render "form", banned_user: @banned_user %>

<br>

<div>
  <%= link_to "Show this banned user", @banned_user %> |
  <%= link_to "Back to banned users", banned_users_path %>
</div>
