<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 

<h1>New banned user</h1>

<%= render "form", banned_user: @banned_user %>

<br>

<div>
  <%= button_to "Back to banned users", banned_users_path, :method=>:get %>
</div>
</div>
