<p style="color: green"><%= notice %></p>

<h1>Scritto</h1>

<div id="scritto">
  <% @scritto.each do |scritto| %>
    <%= render scritto %>
    <p>
      <%= link_to "Show this scritto", scritto %>
    </p>
  <% end %>
</div>

<%= link_to "New scritto", new_scritto_path %>
