<%= form_with(model: commento) do |form| %>
  <% if commento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commento.errors.count, "error") %> prohibited this commento from being saved:</h2>

      <ul>
        <% commento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
