<p style="color: green"><%= notice %></p>

<h1>Commentos</h1>

<div id="commentos">
  <% @commentos.each do |commento| %>
    <%= render commento %>
    <p>
      <%= link_to "Show this commento", commento %>
    </p>
  <% end %>
</div>

<%= link_to "New commento", new_commento_path %>
