<p style="color: green"><%= notice %></p> 
<div class='margine'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<h1>USERS</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "SHOW THIS USERS", user%>
    </p>
   <br>
  <% end %>
</div>
