<div id="<%= dom_id publication_rating %>">
  <p>
    <strong>Publication:</strong>
    <%= publication_rating.publication_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication_rating.user_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= publication_rating.rating %>
  </p>


</div>
