<body>
<div class='margine'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<h1>EDITING PUBLICATION RATING</h1>

<%= render "form", publication: @publication, publication_rating: @publication_rating %>

<br>

<div>
   <%= button_to "BACK TO PUBLICATION RATINGS", publication_publication_ratings_path(@publication), method: :get %>
</div>

</div>
</body>