<h1>Editing publication rating</h1>

<%= render "form", publication_rating: @publication_rating %>

<br>

<div>
  <%= link_to "Show this publication rating", @publication_rating %> |
  <%= link_to "Back to publication ratings", publication_publication_ratings_path %>
</div>
