<h1>Editing publication rating</h1>

<%= render "form", publication: @publication, publication_rating: @publication_rating %>

<div>
  <%= link_to "Back", publication_publication_ratings_path(@publication) %>
</div>
