<body>
<div class='margine'>
<h1>NEW PUBLICATION RATING</h1>

<%= render "form", publication_rating: @publication_rating %>
<br>
<%= button_to "BACK TO PUBLICATION RATINGS", publication_publication_ratings_path(@publication), method: :get %>
</div>

</div>
</body>