<p style="color: green"><%= notice %></p>

<h1>Articoli</h1>

<div id="articoli">
  <% @articoli.each do |articolo| %>
    <%= render articolo %>
    <p>
      <%= link_to "Show this articolo", articolo %>
    </p>
  <% end %>
</div>

<%= link_to "New articolo", new_articolo_path %>
