<h1>Editing autore preferito</h1>

<%= render "form", autore_preferito: @autore_preferito %>

<br>

<div>
  <%= link_to "Show this autore preferito", @autore_preferito %> |
  <%= link_to "Back to autore preferitos", autori_preferiti_path %>
</div>
