<div id="<%= dom_id ban %>">
  <p>
    <strong>User:</strong>
    <%= ban.user_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= ban.admin_id %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= ban.reason %>
  </p>

</div>
