<%= form_with(model: autore) do |form| %>
  <% if autore.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(autore.errors.count, "error") %> prohibited this autore from being saved:</h2>

      <ul>
        <% autore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
