<p style="color: green"><%= notice %></p>

<h1>Autori</h1>

<div id="autori">
  <% @autori.each do |autore| %>
    <%= render autore %>
    <p>
      <%= link_to "Show this autore", autore %>
    </p>
  <% end %>
</div>

<%= link_to "New autore", new_autore_path %>
